body {
    margin: 0;
    padding: 0;
    background-color: #fffffc;
    align-items: center;    
}

.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #fffffc;
    position: fixed;
    z-index: 100;
    opacity: 1;
    top: 0;
    left: 0;
    transition: all 1s ease;
}

.loaded {
    opacity: 0;
    visibility: hidden;
}

.profile_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #tooltip {
        position: absolute;
        background-color: black;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        display: none;
    }

    .profile_header {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .profile_icon {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        z-index: 1;
        transform: translateY(-150px);
    }

.profile_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-150px);
}

.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

    .portfolio ul {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content:last baseline; /* Center items */
        padding: 0; 
        margin: 0;
    }

    .portfolio li {
        list-style: none;
        width: calc(33.333% - 20px); /* Adjust width for three items per row */
        height: auto;
        margin: 10px; /* Add margin for spacing */
        padding: 10px;
        box-sizing: border-box; /* Include padding and border in width */
        border-radius: 0 0 50px 50px;
        background-color: #2e2e2e;
        color: white;
        transition: transform 0.3s ease; /* Smooth transition effect */
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Align content to the start of the flex container */
    }

    .portfolio li:hover {
        transform: scale(1.05); /* Slightly enlarges the item */
        background-color: #3e3e3e;
    }

.contact {
    background-color: #ffffff; /* 白色の背景 */
    color: #000000; /* 黒色のテキスト */
    padding: 20px; /* パディング */
    border-top: 2px solid #000000; /* 黒いボーダー */
    border-radius: 8px; /* 角の丸み */
    width: 100%; /* 最大幅 */
    text-align: center; /* テキストを中央揃え */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1); /* ソフトな影 */
}
    
    .contact h1 {
        font-size: 24px; /* タイトルのフォントサイズ */
        margin-bottom: 12px; /* タイトルの下のマージン */
    }
    
    .contact p {
        font-size: 16px; /* パラグラフのフォントサイズ */
        margin-bottom: 20px; /* パラグラフの下のマージン */
    }
    
    .contact a {
        font-size: 16px; /* リンクのフォントサイズ */
        color: #000000; /* リンクの色 */
        text-decoration: none; /* アンダーラインを消す */
        border: 1px solid #000000; /* リンクの境界線 */
        padding: 8px 16px; /* リンクのパディング */
        border-radius: 4px; /* リンクの角の丸み */
        transition: background-color 0.3s, color 0.3s; /* 色の変化にアニメーションを設定 */
    }
    
    .contact a:hover {
        background-color: #000000; /* ホバー時の背景色 */
        color: #ffffff; /* ホバー時のテキスト色 */
    }
    